.header {
    background-color: purple;
    height: 70px;
    padding: 11px;
    display: grid;
    grid-auto-flow: column;
    
}

img {
    background-color:  #ff7f7f;
    height: 35px;
    display: grid;
}
